/*============
    COLORS
=============*/

// PRIMARY
$primary1: #13182C; // Instock-Black
$primary2: #2E66e5; // Instock-Indigo
$primary3: #FFFFFF; // White

// SECONDARY
$secondary1: #5C667E; // Slate
$secondary2: #BDC5D5; // Cloud

// BACKGROUND
$background1: #232940; // Graphite
$background2: #F7F8F9; // Light-Grey

// SUPPORTING
$support1: #158463; // Green
$support2: #C94515; // Red

/*================
    BREAKPOINTS
=================*/

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;