@use "../../styles/partials/variables" as *;

@use "../../styles/partials/mixins" as *;

@use "../../styles/partials/typography";

.items {
    background-color: #FFFFFF;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -4rem;
    box-shadow: 0 2px 5px rgba(19, 24, 44, 0.10);
    border-radius: 4px;
    @include tablet {
        margin-top: -5.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    @include desktop {
        margin-left: 8.125rem;
        margin-right: 8.125rem;
    }

    &-header {
    
    padding: 1rem;

    @include tablet{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1.875rem;
    }

    @include desktop{
        padding: 1.875rem 2rem;
    }

        &__title {
            padding-bottom: 1rem;

            @include tablet{
                padding: 0;
            }
        }

        &__search-bar {

            @include tablet{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 53vw;
                justify-content: flex-end;
            }

            @include desktop{
                width: 35vw;
                justify-content: space-between;
            }
            &__container{
                display:flex;
                flex-direction: row;
                border: 1px solid #BDC5D5;
                border-radius: 1.25rem;

                @include desktop{
                    width: 23vw;
                }
            }
            &--input{
                border:none;

                @include desktop {
                    width: 100%;
                }
            }
            &--icon{
                padding-right: .625rem;
            }

        }

        &__add-container{
            padding-top: 1rem;

            @include tablet{
                padding: 0 0;
            }

            &__btn{
                background-color: #2E66E5;
                color: #FFFFFF;
                border:none;
                cursor: pointer;
            }
        }
    }

    &-list {

        &__table-header{
            display:none;
            background-color: #F7F8F9;
            padding: 0.5rem 1.5rem;
        

            @include tablet{
                display:flex;
                flex-direction: row;
                align-items: center;
            }

            @include desktop{
                padding: 0 2rem;
            }

            &-ic{
                width: 33.4vw;
                display:flex;
                flex-direction:row;
                justify-content: space-between;

                @include desktop{
                    width: 30.3vw;
                }

            }

            &-sqw{
                width: 45vw;
                display:flex;
                flex-direction:row;
                justify-content: space-between;

                @include desktop{
                    width: 37.4vw;
                }
            }

            &--item{
                @include tablet{
                    display:flex;
                    align-items: center;
                    width: 15vw;
                }


                &-txt{
                    @include tablet{
                        width: 13vw
                    }

                    @include desktop{width: 7.3vw;}
                    
                }
            }
            &--category{
                @include tablet{
                    display:flex;
                    align-items: center;
                    width: 14.9vw;
                }

                @include desktop{
                    width: 13.5vw;
                }
            }
            &--status{
                @include tablet{
                    display:flex;
                    align-items: center;
                    
                }

            }
            &--qty{
                @include tablet{
                    display:flex;
                    align-items: center;
                    width: 1vw;
                }

            }
            &--warehouse{
                @include tablet{
                    display:flex;
                    align-items: center;
                    width: 18.5vw;
                }

                @include desktop{
                    width: 17.7vw;
                }
            }
        }

        &__container{
            border-top: 1px #BDC5D5 solid ;
            
            &:nth-child(2) {
                border-top: none;
            }
        }

        &__card{
            padding: 1rem;

            @include tablet {
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 1.5rem;
            }

            @include desktop{
                padding: 1rem 2rem;
            }

            &-info{
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            width: 65vw;
            padding-bottom: .625rem;

            @include tablet{
                align-items: center;
                padding: 0;
                width: 70vw;
            }

            @include desktop{
                width: 60vw;
            }
            

                &-ic{
                    display:flex;
                    flex-direction: column;

                    @include tablet{
                        flex-direction:row;
                        width: 35vw;
                        justify-content: space-between;
                        align-items:center;
                    }

                    @include desktop{
                        width: 30vw;
                    }

                    &--item{
                        padding-bottom: .625rem;

                        @include tablet{
                            padding: 0;
                        }

                        &-label {
                            font-weight:550;
                            @include tablet{
                                display:none;
                            }
                        }
                    
                        &-ic{
                        display:flex;
                        flex-direction: row;
                        align-items:center;

                            &-name{
                                color: #2E66E5;
                                font-weight: 550;
                                font-size: 12px;
                                @include tablet{@include typography-style (0.875rem, 1.375rem, 550)}
                            }
                        }
                    }

                    &--category{
                        width: 30vw;
                        @include tablet{
                            width: 15vw;
                        }

                        @include desktop{
                            width: 13vw;
                        }

                        &-label {
                            font-weight:550;
                            @include tablet{
                                display:none;
                            }
                        }
                        &-txt{
                            font-size: 11px;
                            @include tablet{
                                width: 12.978vw;
                                @include typography-style (0.875rem, 1.375rem, 400)
                            }
                        }
                    }
                }

                &-sq{
                    display:flex;
                    flex-direction: column;
                    width: 24vw;

                    @include tablet{
                        flex-direction:row;
                        width: 38vw;
                        justify-content: space-between;
                        align-items:center;
                    }

                    @include desktop{
                        width: 30vw;
                    }

                    &--status{
                        padding-bottom: 1.0625rem;

                        @include tablet{
                            padding: 0;
                            width: 12vw;
                        }

                        @include desktop{
                            width: 7vw;
                        }

                        &-label {
                            font-weight:550;
                            @include tablet{
                                display:none;
                            }
                        }

                        &-container--in-stock{
                            background-color: rgba(21, 132, 99, .07);
                            align-content: center;
                            border-radius: 1.25rem;
                            padding: 2px 4px;
                            width: 18vw;

                            @include tablet{
                                width: 8vw;
                            }

                            @include desktop{
                                width: 5vw;
                            }
                        }

                        &-container--out-of-stock{
                            background-color: rgba(201,69,21, .07);
                            align-content: center;
                            border-radius: 1.25rem;
                            padding: 2px 4px;

                            @include tablet{
                                width: 11vw;
                            }

                            @include desktop{
                                width: 7vw;
                            }
                        }

                        &-txt--in-stock{
                            color: rgb(21,132,99);
                            font-weight:550;
                            text-align: center;
                            font-size: 11px;
                        }

                        &-txt--out-of-stock{
                            color: rgb(201,69,21);
                            font-weight:550;
                            text-align: center;
                            font-size: 11px;
                        }
                    }

                    &--quantity{
                        
                        @include tablet{
                            width: 5vw;
                        }

                        @include desktop{
                            width: 3vw;
                        }

                        &-label {
                            font-weight:550;
                            @include tablet{
                                display:none;
                            }
                        }

                        &-txt{
                            font-size: 11px;
                            @include tablet{
                                width: 12.978vw;
                                @include typography-style (0.875rem, 1.375rem, 400)
                            }
                        }
                    }


                    &--warehouse{
                        padding-top: .625rem;

                        @include tablet{
                            padding: 0;
                            width: 10vw;
                        }

                        &-label {
                            font-weight:550;
                            @include tablet{
                                display:none;
                            }
                        
                        &-txt {
                            font-size: 11px;
                            @include tablet{
                                width: 12.978vw;
                                @include typography-style (0.875rem, 1.375rem, 400)
                            }
                        }
                        }
                    }
                }
            }

            &-info-de{
                display:flex;
                justify-content: space-between;

                @include tablet{
                    width: 10vw;
                    justify-content: center;
                }

                &-delete{
                    cursor: pointer;
                    @include tablet{
                        padding-right: .625rem;
                    }
                }
            }
        }


    }
}

.items-list__container:hover{
    background-color:rgba(46, 102, 229, 0.1)
}

.items-list__card-info-ic--item-ic-name:hover{
    text-decoration:underline;
}
.items-header__search-bar--input:focus{
    outline:none;
}

.items-header__search-bar__container:focus-within{
    border: 2px $primary2 solid;
}